.menu-title-container {
    color: white;
}

.menu-title-container>h1 {
    font-size: 135px;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
}

.menu-title-container>hr {
    margin: 20px 0;
}