.container-small-card {
    margin-bottom: .5rem;
}

.container-small-card-content {
    display: flex;
    align-items: center;
    gap: 0rem 1rem;
    margin-bottom: .25rem;
}

.small-card-img {
    display: flex;
    max-width: 200px;
    min-width: 200px;
    max-height: 200px;
    min-height: 200px;
}

.small-card-img>img {
    width: 100%;
}

.small-card-title h1 {
    padding-right: 1.5rem;
    text-align: center;
}