.container-content {
    display: flex;
    flex-direction: column;
    gap: .5rem 0;
    width: 100%;
    align-items: center;
}

.go-back {
    margin-top: 25px;
}

.content-cover {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    max-width: 500px;
    min-width: 500px;
    max-height: 500px;
    min-height: 500px;
}

.content-cover>img {
    width: 100%;
    height: 100%;
}

.content-title {
    margin-bottom: 1rem;
}

.content-title h1 {
    text-align: center;
}

.content-title hr {
    margin: 0 auto;
    width: 75%;
}

.content-description>p {
    width: 75%;
    margin: 0 auto;
    text-align: justify;
    color: lightgrey;
    padding-bottom: 2rem;
}