@media screen and (max-width: 1480px) {
    .articles {
        grid-template-columns: 1fr;
    }

    .articles > * {
        margin: 2rem auto;
    }
}

@media screen and (max-width: 1480px) {
    .articles {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow-x: hidden;
    }
}