<div class="container-menu-bar">
    <ul>
        <a href="https://www.linkedin.com/in/lucas-admoraes/" target="_blank"><img alt="Static Badge"
                src="https://img.shields.io/badge/LinkedIn-black?style=for-the-badge&logo=linkedin&logoColor=0A66C2&labelColor=black&color=black"></a>
        <a href="mailto:vintesetelucas@gmail.com" target="_blank"><img alt="Static Badge"
                src="https://img.shields.io/badge/Gmail-EA4335?style=for-the-badge&logo=gmail&logoColor=EA4335&labelColor=black&color=black"></a>
        <a href="https://github.com/lucas-adm" target="_blank"><img alt="Static Badge"
                src="https://img.shields.io/badge/-github-black?style=for-the-badge&logo=github&logoColor=white&labelColor=black&color=black">
        </a>
    </ul>
</div>